._subtitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #380e7f;
  text-align: left;
  font-weight: bold;
}

._thridTitle {
  border-left: 0.25rem solid #df42d1;
  border-radius: 0.068rem;
  font-size: 1.125rem;
  line-height: 1.3rem;
  color: #4cb4e7;
  text-align: left;
  padding-left: 10px;
}

._content_text, .content {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #333;
}

._single_text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.APP {
  height: 100%;
}

.header {
  height: 3rem;
  border-bottom: 2px dashed #ffd369;
  text-align: left;
  padding-left: 20px;
}

.navLink {
  display: block;
  background: white;
  color: #9caef0;
  font-size: 20px;
  line-height: 28px;
  padding: 20px;
  margin-bottom: 10px;
}

.navLink:last-child {
  margin-bottom: 0;
}

.navLink:hover {
  background: #4cb4e7;
  color: #380e7f;
}

.active {
  background: #851de0;
  color: white;
}

.wrapper {
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 100%;
  margin: 0 auto -6rem;
  box-sizing: border-box;
}

.footer,
.push {
  height: 6rem;
}

.footer {
  background: #ffd369;
  color: #380e7f;
  height: 6rem;
}
