@import "./minxin.scss";

.APP {
  height: 100%;
}

.header {
  height: 3rem;
  border-bottom: 2px dashed $lightYellow;
  text-align: left;
  padding-left: 20px;
}

.navLink {
  display: block;
  background: white;
  color: $darkBlue;
  font-size: 20px;
  line-height: 28px;
  padding: 20px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background: $blue;
    color: $darkPurple;
  }
}

.active {
  background: $purple;
  color: white;
}

.wrapper {
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 100%;
  margin: 0 auto -6rem;
  box-sizing: border-box;
}

.footer,
.push {
  height: 6rem;
}

.footer {
  background: $lightYellow;
  color: $darkPurple;
  height: 6rem;
}

.content {
  @extend ._content_text;
}

// .important {
//   color: $red;
//   font-weight: bold;
// }
