$yellow: #efdd9c;
$lightYellow: #ffd369;
$blue: #4cb4e7;
$darkBlue: #9caef0;
$purple: #851de0;
$pink: #df42d1;
$darkPurple: #380e7f;
$red: #f44;
$black: #333;

._subtitle {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: $darkPurple;
  text-align: left;
  font-weight: bold;
}

._thridTitle {
  border-left: 0.25rem solid $pink;
  border-radius: 0.068rem;
  font-size: 1.125rem;
  line-height: 1.3rem;
  color: $blue;
  text-align: left;
  padding-left: 10px;
}

._content_text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #333;
}

._single_text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}