@import "../../sass/minxin.scss";

.hasColon {
  &::after {
    content: ":";
  }
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  margin-right: 10px;
  font-size: 14px;
  line-height: 20px;
  color: $darkBlue;
  font-weight: bold;
}
