@import '../../sass/minxin.scss';

.wrapper {
  display: flex;
  padding: 20px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.introduction {
  flex: 1;
  line-height: 32px;
  margin-right: 60px;
}

.connect {
  flex: 0 200px;
  display: flex;
  flex-direction: column;
  line-height: 24px;
  text-align: left;

  &_item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;

    }
  }
}

.iconText {
  padding-left: 10px;
}

.icon {
  font-size: 20px !important;
  vertical-align: middle;
}

.highlight {
  font-size: 16px;
  font-weight: bold;
  color: $red;
  pointer-events: visible;
}

.imgBox {
  height: 90%;
  width: auto;
}