._subtitle, .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #380e7f;
  text-align: left;
  font-weight: bold;
}

._thridTitle {
  border-left: 0.25rem solid #df42d1;
  border-radius: 0.068rem;
  font-size: 1.125rem;
  line-height: 1.3rem;
  color: #4cb4e7;
  text-align: left;
  padding-left: 10px;
}

._content_text, .content {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #333;
}

._single_text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrapper {
  height: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.title {
  font-size: 0.875rem;
}

.title.addColon::after {
  content: ":";
}

.content {
  color: #4cb4e7;
  font-weight: bold;
}
